@import url("todomvc-common/base.css");
@import url("todomvc-app-css/index.css");

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

.spinner {
    position: absolute;
    inset: 0;
    z-index: 100;
    cursor: wait;
}
